---
layout: default
---
{% raw %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 gn-gists">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">{% endraw %}{{site.title}}{% raw %}</a>
          </div>
        </div>
      </nav>

      <img src="/public/loading.gif" alt="loading" v-if="false" />

      <div v-component="gists" v-with="current: (gist ? gist.id : null)"></div>

    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">

      <div class="pull-right" v-component="login-status" v-with="user"></div>

      <div v-component="gist-{{state}}" v-with="gist: gist"></div>

    </div>
  </div>
</div>

<script type="text/template" id="template-login-status">
  <ul class="nav nav-pills">
    <li class="dropdown" v-if="id">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        {{name}}
        <img class="gn-user-avatar" v-attr="src: avatar_url"/>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">@{{login}}</li>
        <li><a href="{{html_url}}">Your Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">{{$root.app.name}}</li>
        <li><a href="{{$root.app.feedback}}" target="_blank">Send Feedback</a></li>
      </ul>
    </li>
    <li v-if="!id">
      <a href="/login"><span class="glyphicon glyphicon-user"></span> Sign in with GitHub</a>
    </li>
  </ul>
</script>

<script type="text/template" id="template-gists">
  <ul class="nav nav-pills" v-if="$root.user">
    <li v-class="active: !$data.public">
      <a href="javascript:void(0)" v-on="click: $data.public = false">@{{$root.user.login}}</a>
    </li>
    <li v-class="active: $data.public">
      <a href="javascript:void(0)" v-on="click: $data.public = true">Public</a>
    </li>
  </ul>
  <div class="list-group gn-gists-list">
    <a href="/new" class="list-group-item gn-gists-list-item"
      v-class="'gn-gists-list-item-active': $root.state == 'new'">
      <span class="glyphicon glyphicon-file"></span> New Gist
    </a>
    <a href="/{{id}}" class="list-group-item gn-gists-list-item"
      v-repeat="gists" v-class="'gn-gists-list-item-active': id == current">
      {{$data | gistTitle}}
    </a>
    <a href="javascript:void(0)" class="list-group-item" v-on="click: fetchMore" v-if="next">
      <span class="glyphicon glyphicon-chevron-down"></span> more...
    </a>
    <li class="list-group-item" v-if="loading"><img src="/public/loading.gif" alt="loading"/></li>
  </div>
</script>

<script type="text/template" id="template-gist-top">
  <div class="clearfix"></div>
  <div class="jumbotron text-center">
    <img src="/public/logo.png" alt="logo"/>
    <h1>Gistnote</h1>
    <p>Evernote like Gist client app</p>
    <p v-if="!$root.user"><a href="/login" class="btn btn-primary">Sign in with GitHub</a></p>
    <p v-component="gist-top-stars"></p>
  </div>
  <div class="row" v-if="$root.user">
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" v-component="gist-top-feedback"></div>
  </div>
  <div class="text-center gn-copyright">
    <p>Gistnote is a Gist client app based on JavaScript. &copy; Hidetake Iwata, 2015.</p>
    <p>Thanks to <a href="http://findicons.com/icon/591630/sticky_notes">Metro Uinvert Dock Icon</a>.</p>
  </div>
</script>

<script type="text/template" id="template-gist-top-stars">
  <a href="{% endraw %}{{site.github.url}}{% raw %}" target="_blank" v-if="stars">
    &star; {{stars}}
  </span>
</script>

<script type="text/template" id="template-gist-top-feedback">
  <form class="well" v-if="!saved">
    <div class="form-group">
      <label for="feedback-text">Send me your feedback:</label>
      <textarea id="feedback-text" class="form-control" rows="3" v-model="feedback"></textarea>
    </div>
    <button type="button" class="btn btn-primary" disabled="{{!feedback}}" v-on="click: sendFeedback">Send Feedback</button>
    <img src="/public/loading.gif" alt="loading" v-if="saving" />
    <div v-component="api-error" v-with="error: error"></div>
  </form>
  <div class="well" v-if="saved">
    Thank you for your feedback.
  </div>
</script>

<script type="text/template" id="template-gist-loading">
  <div class="page-header"><h2><img src="/public/loading.gif" alt="loading"/></h2></div>
</script>

<script type="text/template" id="template-gist-view">
  <div class="page-header"><h2>{{gist | gistTitle}}</h2></div>
  <div v-component="gist-view-metadata" v-with="gist"></div>
  <div v-repeat="gist.files">
    <h3>{{filename}}</h3>
    <span class="label label-primary">{{language}}</span>
    <div class="panel panel-default" v-if="language == 'Markdown'">
      <div class="panel-body" v-html="content | marked"></div>
    </div>
    <div v-if="language != 'Markdown'">
      <pre><code v-html="content | highlight"></code></pre>
    </div>
  </div>
</script>

<script type="text/template" id="template-gist-edit">
  <input type="text" class="form-control input-lg h2" placeholder="gist:{{gist.id}}" v-model="gist.description"/>
  <div v-component="gist-view-metadata" v-with="gist"></div>
  <div v-repeat="gist.files" v-component="gist-edit-file" v-with="gist: gist"></div>
  <div v-component="api-error" v-with="error: error"></div>
  <form class="gn-gist-edit-form">
    <div class="pull-left">
      <button type="button" class="btn btn-link" v-on="click: newGistFile">
        <span class="glyphicon glyphicon-plus-sign"></span> Add File
      </button>
    </div>
    <div class="pull-right">
      <img src="/public/loading.gif" alt="loading" v-if="saving" />
      <button type="button" class="btn btn-primary" v-on="click: updateGist">Update Gist</button>
      <a href="/{{gist.id}}" class="btn btn-default">Cancel</a>
    </div>
    <div class="clearfix"></div>
  </form>
  <div v-component="gist-edit-tips"></div>
</script>

<script type="text/template" id="template-gist-new">
  <input type="text" class="form-control input-lg h2" placeholder="Description" v-model="gist.description"/>
  <ul class="list-inline pull-left">
    <li v-component="gist-view-owner" v-with="owner: $root.user"></li>
    <li><span class="glyphicon glyphicon-file"></span> New Gist</li>
  </ul>
  <div class="clearfix"></div>
  <div v-repeat="gist.files" v-component="gist-new-file" v-with="gist: gist"></div>
  <div v-component="api-error" v-with="error: error"></div>
  <form class="gn-gist-edit-form">
    <div class="pull-left">
      <button type="button" class="btn btn-link" v-on="click: newGistFile">
        <span class="glyphicon glyphicon-plus-sign"></span> Add File
      </button>
    </div>
    <div class="pull-right">
      <img src="/public/loading.gif" alt="loading" v-if="saving" />
      <button type="button" class="btn btn-primary" v-on="click: createGist(false)">Create Private Gist</button>
      <button type="button" class="btn btn-info" v-on="click: createGist(true)">Create Public Gist</button>
    </div>
    <div class="clearfix"></div>
  </form>
  <div v-component="gist-edit-tips"></div>
</script>

<script type="text/template" id="template-gist-edit-tips">
  <div class="well">
    <strong>Tips for Slideshow:</strong>
    Split slide pages by <code>---</code> separator.
    See <a href="https://github.com/gnab/remark/wiki/Markdown">Markdown of remark</a> for details.
  </div>
</script>

<script type="text/template" id="template-gist-error">
  <div v-component="api-error" v-with="error: gist"></div>
</script>

<script type="text/template" id="template-gist-edit-file">
  <h3 v-if="state != 'new'">
    {{filename}}
    <button type="button" class="btn btn-link" v-on="click: state = 'removed'" v-if="state != 'removed'">
      <span class="glyphicon glyphicon-remove"></span> Mark as Removed
    </button>
  </h3>
  <div class="panel panel-default">
    <div class="panel-heading" v-if="state == 'new'">
      <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
          <input type="text" class="form-control" placeholder="Filename" v-model="filename"/>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button type="button" class="close" v-on="click: removeGistFile(filename)">&times;</button>
        </div>
      </div>
    </div>
    <div class="panel-body text-danger" v-if="state == 'removed'">
      <span class="glyphicon glyphicon-remove"></span> To be removed.
      <a href="javascript:void(0)" v-on="click: state = 'loaded'">Cancel</a>
    </div>
    <div class="panel-body" v-if="state != 'removed'">
      <div class="container-fluid">
        <div class="row autosize-textarea">
          <textarea class="form-control" v-model="content"></textarea>
          <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
            <div v-if="filename.match(/.+\.md/)" v-html="content | marked"></div>
            <pre v-if="!filename.match(/.+\.md/)"><code v-html="content | highlight"></code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="template-gist-new-file">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
          <input type="text" class="form-control" placeholder="Filename" v-model="filename"/>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button type="button" class="close" v-on="click: removeGistFile(filename)">&times;</button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row autosize-textarea">
          <textarea class="form-control" v-model="content"></textarea>
          <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
            <div v-if="filename.match(/.+\.md/)" v-html="content | marked"></div>
            <pre v-if="!filename.match(/.+\.md/)"><code v-html="content | highlight"></code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="template-gist-view-metadata">
  <ul class="list-inline pull-left">
    <li v-component="gist-view-owner" v-with="owner: owner"></li>
    <li>
      <span class="glyphicon glyphicon-time"></span>
      Created <time datetime="{{created_at}}" title="{{created_at}}">{{created_at | timeago}}</time>
    </li>
    <li>
      <span class="glyphicon glyphicon-time"></span>
      Updated <time datetime="{{updated_at}}" title="{{updated_at}}">{{updated_at | timeago}}</time>
    </li>
    <li><a href="{{html_url}}" target="_blank"><span class="glyphicon glyphicon-link"></span> Gist</a></li>
    <li class="text-danger" v-if="!$data.public"><span class="glyphicon glyphicon-lock"></span> Private</li>
  </ul>
  <ul class="nav nav-pills pull-right">
    <li v-if="$root.state == 'view'">
      <a href="/slide/{{id}}"><span class="glyphicon glyphicon-film"></span> Slideshow</a>
    </li>
    <li v-if="$root.state == 'view'">
      <a href="/{{id}}/edit"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    </li>
  </ul>
  <div class="clearfix"></div>
</script>

<script type="text/template" id="template-gist-view-owner">
  <a href="{{owner.html_url}}" target="_blank" v-if="owner">
    <span class="glyphicon glyphicon-user"></span> {{owner.login}}
  </a>
  <span v-if="!owner"><span class="glyphicon glyphicon-user"></span> Anonymous</span>
</script>

<script type="text/template" id="template-api-error">
  <div class="alert alert-warning" role="alert" v-if="error">
    <strong>Server Error:</strong> {{error.status}} {{error.statusText}} ({{error.responseJSON.message}})
  </div>
</script>

<script src="/public/lib.js"></script>
<script src="/public/index.js"></script>

{% endraw %}
