
.navbar {
  margin-bottom: 0;
}

pre {
  border: none;
}

.jumbotron {
  background-color: inherit;
}

.gn-user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: .5em;
}

.gn-gists {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.gn-gists-list-item {
  overflow-x: hidden;
}

.gn-gists-list-item-active {
  font-weight: bold;
  background-color: #eee;
}

.gn-help-gists.row {
  position: relative;
}

.gn-help-gists-description {
  position: absolute;
  bottom: 0;
  right: 1em;
}

.gn-copyright {
  margin-top: 5em;
  font-size: 90%;
  color: #444;
}
